/* boilerplate */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,300&display=swap');

html {
  box-sizing: border-box;
}

*,
*::before,
*,::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-flow: column;
}

header,
footer,
.part-1,
.part-2,
.part-3,
.part-4,
footer {
  padding: 0 10%;
  display: flex;
}

a {
  text-decoration: none;
}

header,
footer,
.part-1 {
  background-color: #1f2937;
}

/* Header & Part 1 */

header {
  padding-top: 20px;
  gap: 25px;
  align-items: baseline;
}

.logo {
  font-size: 24px;
  margin-right: auto;
}

.nav,
.p1-subtext,
.p2-subtext,
.footer-text {
  color: #e5e7eb;
  font-size: 18px;
}


.part-1 {
  padding-top: 120px;
  padding-bottom: 120px;
  flex-flow: wrap;
  gap: 40px;
  justify-content: space-evenly;
}

.p1-content {
  display: flex;
  flex-flow: column;
  gap: 10px;
  flex: 400px;
}
.p1-title,
.logo,
.signup {
  color: #f9faf8;
  font-weight: bold;
}

.p1-title {
  font-size: 48px;
}

.signup {
  margin-top: 10px;
  margin-right: auto;
  background-color: #3882f6;
  padding: 6px 24px;
  border-radius: 5px;
}

.p1-img {
  width: 400px;
  height: 200px;
  background-color: #6d747d;
}

/* Part 2 */

.part-2 {
  flex-flow: column;
}

.p2-title {
  align-self: center;
  padding: 75px;
  font-weight: bold; 
  font-size: 32px;
}

.p2-cards {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  /* justify-content: space-around; */
  padding-bottom: 120px;
  gap: 20px;
}

.p2-card {
  width: 150px;
  display: flex;
  flex-flow: column;
  align-items: center;
}

.p2-card-img {
  border: 4px #3882f6 solid;
  border-radius: 20px;
  width: 150px;
  height: 150px;
  overflow: hidden;
  width: 150px;
  height: 150px;
  background-color: #6d747d;

}

.p2-card-text {
  margin-top: 10px;
  text-align: center;
  color: #6D747D;
}

/* Part 3 */

.part-3 {
  background-color: #e5e7eb;
  display: flex;
  flex-flow: column;
  padding-top: 100px;
  padding-bottom: 100px;
}

.p3-quote {
  font-style: italic;
  font-size: 36px;
  font-weight: 400;
}

.p3-cite {
  margin: 25px 50px 0 auto;
  font-weight: bold;
}

/* Part 4 */

.part-4 {
  display: flex;
  flex-flow: column;
  padding-top: 125px;
  padding-bottom: 125px;
}

.p4-card {
  background-color: #3882f6;
  color: white;
  padding: 50px 10%;
  border-radius: 10px;
  display: flex;
  align-items: center;
}

.p4-card a {
  border: #fff 2px solid;
  margin-left: auto;
  margin-right: 0;
  margin-top: 0;
}

.p4-card-title {
  font-weight: bold;
  font-size: 24px;
}

.p4-card-subtext {
  font-weight: 300;
}

/* Footer */

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
}